@import "./declare.scss";

.aboutSectionDiv {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 15px;
  //border-radius: 5px;
  

  & > .sectionDetails {
    & > .sectionHeader {
      font-size: 18px;
      font-weight: 600;
    }
  }

  & > .sectionImage {
    justify-self: end;
    align-self: center;
  }
}
