$NameColor: #2d3748;

@mixin hoverEffect {
  transform: scale(1.02);
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.2);
}

@mixin font200 {
  font-weight: 300;
}

@mixin font400 {
  font-weight: lighter;
}

@mixin label {
  font-size: 16px;
  text-transform: uppercase;
  align-self: end;
  color: #cbd5e0;
}

@mixin placeholder {
  color: white;
  font-size: 15px;
}

@mixin focus {
  color: white;
  font-size: 15px;
}

@mixin gridName {
  display: grid;
  padding: 0px 10px;
}

@mixin input {
  border-radius: 0.25rem;
  height: 30px;
  background-color: #2d3748;
  border-color: #4a5568;
  border-width: 0.1px;
  padding: 5px 5px;
  margin: 5px 0px;
  caret-color: white;
  color: white;
  font-size: 15px;
}

@keyframes h3IntroAnimation {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes IntroPara {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
