@import "./declare.scss";
@import "./queries.scss";

body {
  //padding: 5px;
  font-size: 25px;
  line-height: 1.4;

  .anchorDiv {
    display: flex;
    flex-direction: row;
  }
}

div {
  &.ignore-fontSize {
    font-size: initial;
  }
}

a {
  &:hover {
    @include hoverEffect();
  }

  &.ignore-fontSize {
    font-size: initial;
  }
  &.button {
    position: relative;
    z-index: 2;
    display: inline-flex;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.5rem 7px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    & > p {
      font-weight: 500;
      & > span {
        font-weight: 200;
      }
    }
    & > div {
      margin: auto;
      display: block;
      padding-right: 7px;
    }
    &.twitter {
      color: #1da1f2;
      background-color: rgba(29, 161, 242, 0.1);
    }
    &.linkedin {
      color: #0077b5;
      background-color: #0076b51e;
    }

    &.linkArrow {
      background-color: #e1e5e6;
      color: #24292e;
      margin-top: 30px;
      padding: 0px 25px;

      & > p > span {
        display: none;
      }
    }

    &.insta {
      background-color: #f2ebf7;
      color: #833ab4;
    }

    &.github {
      background-color: #e1e5e6;
      color: #24292e;
    }

    &.telegram {
      background-color: rgba(133, 209, 244, 0.201);
      color: #29b6f6;
      padding-right: 0px;

      & > p {
        display: none;
      }
    }

    &.whatsapp {
      background-color: rgba(125, 194, 134, 0.181);
      color: #43c554;
      padding-right: 0px;

      & > p {
        display: none;
      }
    }

    &.mail {
      background-color: #e5f1ff;
      color: #007aff;
      justify-self: center;
      padding: 0px 60px !important;
      border-radius: 30px;

      & > p > span {
        display: none;
      }
    }
  }
}

.navBar {
  left: 0px;
  right: 0px;
  top: 0px;
  height: 60px;
  background: rgb(222, 236, 236);
  //filter: drop-shadow(0px 5px 25px #b6cdcd);
}

.Name {
  color: $NameColor;
  font-weight: 600;
}
.h3Intro {
  font-weight: 200;
  color: #a0aec0;
  opacity: 0;
  animation: h3IntroAnimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

span.h3IntroSpan.emoji {
  isolation: isolate;
}

.HeroBack {
  position: absolute;
  // z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  background: url(../images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  filter: drop-shadow(10px 20px 13px #333);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

.SubHero {
  max-width: 50%;
  padding: 200px 110px 0px 110px;
}

.noMarginBottom {
  margin-bottom: unset;
}

.decreaseMarginTop {
  margin-top: 10px;
}

.underline {
  background-image: linear-gradient(transparent 70%, #a0aec02e 50%);
}

.IntroPara {
  color: $NameColor;
  @include font200();
  opacity: 0;
  animation: IntroPara;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.IntroParagraph {
  font-weight: 400;
  color: #a0aec0;
}

.font300 {
  font-weight: 400;
}

.darkmode-toggle {
  z-index: 3;
}

// LastFm
.lastfm {
  position: fixed;
  font-size: 12px;
  bottom: 5px;
  right: 0px;
  z-index: 4;
  color: #4f4343;
  background-color: antiquewhite;
  padding: 14px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: black;
  filter: drop-shadow(-10px 0px 20px #999090);
  text-decoration: none;

  & a {
    display: none;
  }

  @media (hover: none) and (any-pointer: coarse) {
    &:hover {
      @include hoverEffect;
      cursor: pointer;

      & a {
        display: unset;

        transition: 2s;
      }
    }
  }

  @media (hover: hover) and (any-pointer: fine) {
    &:hover {
      @include hoverEffect;
      cursor: pointer;

      & a {
        display: unset;
        transition: 2s;
      }
    }
  }

  & > a {
    text-decoration: none;
    color: #4f4343;

    :visited {
      color: #4f4343;
    }
  }
}

// Equalizer
.eq {
  display: inline-table;

  & > img {
    display: block;
    object-fit: contain;
    width: 11px;
    height: 11px;
    padding: 0px 5px;
  }
}

// Darkmode
.darkmode--activated .logo {
  filter: invert(50%);
}

.darkmode--activated .hover {
  color: #d0c8b8;
}

// header
header {
  position: fixed;
  width: 100%;
  z-index: 100;

  & > .headerGroup {
    padding: 30px 0;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
    transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;

    & > .alogo {
      cursor: pointer;
    }

    & > a > img {
      width: 40px;
      height: 40px;
      margin-top: 5px;
    }

    & > a {
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      color: $NameColor;
    }
  }
}

.HeaderScrolled {
  & > .headerGroup {
    padding: 5px 0px;
  }
}

.ModalTitle {
  justify-content: flex-start !important;
  font-size: 1.2rem !important;
}

.ModalSubtitle {
  justify-content: flex-start !important;
  text-transform: capitalize !important;
}
.ModalContent {
  font-size: 0.8rem !important;
}

.ButtonHyperLink {
  color: $NameColor;
}

@supports (backdrop-filter: blur(10px)) {
  .HeaderScrolled {
    backdrop-filter: blur(10px);
  }
}

@supports not (backdrop-filter: blur(10px)) {
  .HeaderScrolled {
    background: rgba(255, 255, 255, 0.9);
  }
}
