@media screen and (max-width: 1111px) {
  /* Element | http://localhost:8000/ */

  /* 6a2d8099-1a39-9e4e-ab3e-22e702ca350d | blob:http://localhost:8000/6a2d8099-1a39-9e4e-ab3e-22e702ca350d */

  .SubHero {
    /* max-width: 50%; */
    /* padding: 120px 110px; */
    max-width: 90%;
    padding: 90px 20px;
    text-align: center;
  }

  body .anchorDiv {
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 435px) {
  .headerGroup {
    & > .home {
      display: none;
    }
  }

  .SubHero {
    & > .h3Intro {
      font-size: 25px;
    }

    & > .IntroPara {
      font-size: 17px;
    }
  }
}

@keyframes h3IntroAnimation {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes IntroPara {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
