@media screen and (max-width: 1111px) {
  .SubHero {
    max-width: 90%;
    padding: 90px 20px;
    text-align: center;
  }

  body .anchorDiv {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 435px) {
  .headerGroup {
    & > .home {
      display: none;
    }
  }

  .SubHero {
    & > .h3Intro {
      font-size: 25px;
    }

    & > .IntroPara {
      font-size: 17px;
    }
  }
}
